astroid==2.11.4
colorama==0.4.4
dill==0.3.4
Django==2.2.6
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
Pillow==9.1.0
platformdirs==2.5.2
psycopg2==2.9.3
psycopg2-binary==2.9.3
pylint==2.13.8
pylint-django==2.5.3
pylint-plugin-utils==0.7
pytz==2022.1
sqlparse==0.4.2
tomli==2.0.1
wrapt==1.14.1
